* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: black;
    scroll-behavior: smooth;
}

body {
    background-color: #e5e4db;
    overflow-x: clip;
}

em {
    font-style: normal;
    font-weight: 600;
}

.black {
    position: absolute;
    width: 100vw;
    height: 600vh;
    top: 0;
    left: 0;
    z-index: 199;
    background: black;
    animation: fade-black 2.75s forwards, lowerZ 0s 3s forwards;
}


.overlay {
    background-color: #e5e4db;
    position: absolute;
    border-radius: 50%;
    z-index: 200;
    margin-top: 33vh;
    margin-left: 48vw;
    width: 5vw;
    height: 5vw;
    animation: grow-and-fade 3s forwards, lowerZ 0s 3s forwards;
}

@keyframes lowerZ {
    to {
        z-index: -200;
        height: 0vh;
    }
}

@keyframes fade-black {
    0% {
        opacity: 1;
    }

    70% {
        opacity: 0.97;
    }

    99% {
        opacity: 0.01
    }

    100% {
        opacity: 0;
    }
}

@keyframes grow-and-fade {
    0% {
        transform: scale(0.001);
        opacity: 1;
    }

    40% {
        transform: scale(2);
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    99% {
        transform: scale(35);
        opacity: 0.1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.circle {
    position: absolute;
    overflow: hidden;
    z-index: -100;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
}

.orange_one,
.orange_two,
.orange_three,
.orange_four,
.orange_five {
    background-image: radial-gradient(closest-side, rgba(242, 113, 33, 0.6), transparent);
}

.purple_one,
.purple_two,
.purple_three,
.purple_four,
.purple_five {
    background-image: radial-gradient(closest-side, rgba(138, 35, 135, 0.6), transparent);
}

.light-orange_one,
.light-orange_two,
.light-orange_three,
.light-orange_four,
.light-orange_five {
    background-image: radial-gradient(closest-side, rgba(242, 113, 33, 0.4), transparent);
    height: 80vw;
    width: 80vw;
}

.light-orange_one,
.light-orange_three,
.light-orange_five {
    animation: pulse 7s infinite;
}

.light-orange_two,
.light-orange_four,
.light-orange_five {
    animation: pulse 10s infinite;
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(0.4);
    }

    20%,
    80% {
        transform: scale(0.8);
    }

    40%,
    60% {
        transform: scale(1.2);
    }
}

/* NAV BAR: TEXT */

header {
    display: flex;
    justify-content: center;
    height: 7rem;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes increaseZ {
    to {
        z-index: 300;
    }
}


header nav ul {
    width: max(40vw, 400px);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 1.5rem;
    padding: 0.75rem 2rem;
    background-color: rgba(242, 239, 234, 0.5);
    box-shadow: 0.5px 1.5px 2px rgba(179, 174, 166, 0.7);
    list-style: none;
}

header nav p {
    position: absolute;
    right: 10vw;
}

header nav a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    header nav ul {
        width: 80vw;
    }
}

@media screen and (max-width: 600px) {
    header {
        height: 5rem;
    }
    
    header nav ul {
        width: 90vw;
        justify-content: space-between;
    }
}

@media screen and (max-width: 414px) {
    header nav p {
        display: none;
    }

    header nav ul {
        width: 95vw;
        padding: 1rem 1rem;
    }

}

/* HERO */

/* HERO: LIGHTS */
.orange_one {
    top: 0vw;
    left: -3vw;
}

.purple_one {
    top: -7vw;
    left: -9vw;
}

.light-orange_one {
    top: -30vw;
    left: -25vw;
}

.orange_two {
    background-image: radial-gradient(closest-side, rgba(242, 113, 33, 0.8), transparent);
    bottom: -15vw;
    right: -10vw;
}

.light-orange_two {
    bottom: -35vw;
    right: -30vw;
}

.yellow_two {
    top: 3vw;
    left: -5vw;
}

.yellow_three {
    top: 8vw;
    right: -5vw;
}

.dark-red {
    top: -10vw;
    left: -15vw;
}

.red_one {
    top: -10vw;
    right: -9vw;
}

.red_two {
    width: 400px;
    height: 400px;
    top: 10vw;
    left: 20vw;
}

.light-yellow_one {
    bottom: -20vw;
}

.light-yellow_two {
    bottom: -15vw;
    right: 15vw;
}

#hero-section {
    overflow-x: clip;
    overflow-y: visible;
    position: relative;
    width: 100vw;
    /* height: 60vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    /* text-overflow: clip; */
}

#hero-section .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.5rem;
    gap: 4rem;
}

#hero-section .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.one,
.three {
    overflow: hidden;
    display: inline-block;
}

#hero-section .title .one p,
#hero-section .title .three p {
    font-family: "Krona One", sans-serif;
    width: 75vw;
    text-align: justify;
    text-align-last: justify;
    font-size: 6vw;
}

@keyframes slide-up {
    0% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}

#hero-section .title .one p {
    transform: translateY(200%);
    animation: slide-up 1s ease-out forwards;
    animation-delay: 2.25s;
}

#hero-section .title .three p {
    transform: translateY(200%);
    animation: slide-up 1s ease-out forwards;
    animation-delay: 2.75s;
}

#hero-section .title .middle {
    width: 75vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

#hero-section .title .middle h1 {
    font-family: "Krona One", sans-serif;
    font-weight: normal;
    font-size: 6vw;
    transform: translateY(200%);
    animation: slide-up 1s ease-out forwards;
    animation-delay: 2.5s;
}

#hero-section .title .middle p {
    opacity: 0;
    text-align: center;
    font-size: max(1.25vw, 10px);
    animation: fading-in 1s forwards;
    animation-delay: 4s;
}

@keyframes fading-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#hero-section .scroll {
    opacity: 0;
    width: 4vw;
    animation: bounce 0.75s infinite;
    animation-delay: 6s;
}

@keyframes bounce {

    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }

    20%,
    80% {
        transform: translateY(-7.5px);
        opacity: 1;
    }

    40%,
    60% {
        transform: translateY(-15px);
        opacity: 1;
    }
}

#hero-section a {
    color: black;
}

#hero-section #skills {
    font-family: "Krona One", sans-serif;
    position: relative;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    font-size: 3vw;
}

@media screen and (max-width: 800px) {
    #hero-section .title {
        gap: 1.5rem;
    }

    #hero-section .title .one p,
    #hero-section .title .three p,
    #hero-section .title .middle {
        width: 90vw;
        font-size: 7vw;
    }

    #hero-section #skills {
        font-size: 5vw;
    }
}

@media screen and (max-width: 414px) {
    #hero-section .hero-container {
        margin-top: 2rem;
        gap: 2rem;
    }
}

/* ABOUT ME */

/*ABOUT ME: LIGHTS */
.orange_three {
    background-image: radial-gradient(closest-side, rgba(242, 113, 33, 0.9), transparent);
    top: 390px;
    left: -13vw;
}

.light-orange_three {
    top: 70px;
    left: -45vw;
}

.orange_four {
    top: 870px;
    right: -12vw;
}

.purple_four {
    top: 820px;
    right: -15vw;
}

.light-orange_four {
    top: 500px;
    right: -35vw;
}

/* ABOUT ME: IMAGES */

#lamp,
.cat,
.cassette,
.yarn,
.portrait {
    position: absolute;
    z-index: -50;
}

#lamp {
    width: 22rem;
    transform: rotate(5deg);
    top: 17rem;
    left: -10rem;
}

.cat {
    width: 20rem;
    transform: scaleX(-1);
    top: 68rem;
    left: -2rem;
}

.cassette {
    width: 22rem;
    transform: scaleX(-1) rotate(-30deg);
    top: 20rem;
    right: -5rem;
}

.yarn {
    width: 35rem;
    transform: scaleX(-1) rotate(-20deg);
    top: 65rem;
    right: -7rem;
    z-index: -15;
}

.background {
    position: absolute;
    top: 32rem;
    right: 1vw;
    width: 44rem;
    height: 40rem;
    background-image: url('./images/portrait_background.jpg');
    background-size: contain;
    background-size: 76%;
    background-repeat: no-repeat;
    background-clip: unset;
    background-position: top;
    z-index: -60;
}

.portrait {
    width: 44rem;
    top: 9.5rem;
}

/* ABOUT ME: TEXT */

#about-me-section {
    overflow-x: clip;
    overflow-y: visible;
    position: relative;
    width: 100vw;
    height: 98rem;
    display: flex;
    justify-content: center;
}

#about-me-section .about-me-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max(550px, 55vw);
    margin: auto;
    margin-left: 7rem;
    gap: 3vw;
}

#about-me-section h2 {
    font-family: "Krona One", sans-serif;
    font-size: 4rem;
    font-weight: 200;
}

#about-me-section .bio {
    font-size: max(1.1vw, 18px);
    display: flex;
    gap: 2vh;
    flex-direction: column;
    justify-content: space-between;
}

#about-me-section .info {
    font-size: max(1.1vw, 14px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.info hr {
    width: 40%;
}

/* ABOUT ME: RESPONSIVE */
@media screen and (max-width: 1400px){
    #about-me-section .background {
        right: -6vw;
    }
}

@media screen and (max-width: 1200px) {
    #about-me-section .background {
        background-image: none;
    }

    .background .portrait {
        right: -6vw;
    }
}

@media screen and (max-width: 1000px) {
    #about-me-section .about-me-desc {
        width: 80vw;
    }

    #about-me-section .portrait {
        display: none;
    }

    .yarn {
        right: -18rem;
    }

    .cassette {
        top: 7rem;
        right: -5rem;
    }

    #lamp {
        top: 17rem;
    }

    .light-orange_four {
        top: 600px;
    }
}

@media screen and (max-width: 600px) {
    #about-me-section h2 {
        font-size: max(8vw, 26px);
    }

    #about-me-section .about-me-desc {
        width: 85vw;
        margin-left: 3rem;
    }

    #about-me-section .info {
        gap: 0.5rem;
    }

    .cassette {
        top: 4rem;
    }

    #lamp {
        top: 13rem;
        transform: rotate(15deg);
    }

    .cat {
        top: 70rem;
        left: -8rem;
    }

    .yarn {
        top: 66rem;
        right: -22rem;
    }

    .light-orange_four {
        top: 700px;
    }
}

@media screen and (max-width: 414px) {
    #about-me-section .bio {
        font-size: 14px;
    }

    .orange_three {
        top: 9rem;
    }

    .light-orange_four {
        top: 53rem;
    }

    #about-me-section {
        height: 55rem;
    }

    #lamp {
        width: 9rem;
        top: 2rem;
        left: -3.5rem;
    }

    .cassette {
        width: 10rem;
        right: -3rem;
        top: 2rem;
    }

    .cat {
        width: 10rem;
        top: 47rem;
        left: -4rem;
    }

    .yarn {
        width: 17rem;
        right: -7rem;
        top: 45rem;
    }
}

/* PROJECTS */

#projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding: 10rem 0;
}

#projects-section a {
    text-decoration: none;
    color: black;
}

#projects-section svg {
    margin-left: .5rem;
    width: 2.5rem;
}

#projects-section h2 {
    width: 70vw;
    font-family: "Krona One", sans-serif;
    font-size: 2rem;
    color: white;
    background-color: black;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

#projects-section article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65vw;
    gap: 1rem;
}

#projects-section article>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

#projects-section article img {
    background-color: rgb(191, 185, 195);
    align-self: center;
    border-radius: 1rem;
    width: 50%;
    box-shadow: 1px 1px 6px rgba(179, 174, 166, 0.7);
    object-fit: cover;
    object-position: center top;
    cursor: pointer;
    transition: all 0.3s ease;
    aspect-ratio: 1 / 0.75;
}

#projects-section article img:hover {
    box-shadow: 2px 2px 28px rgba(242, 113, 33, 0.5);
}

#projects-section article h3 {
    font-family: "Krona One", sans-serif;
    font-size: 2rem;
    margin-top: 3rem;
}

#projects-section article p {
    width: 60%;
    font-size: 1.5rem;
}

#projects-section article hr {
    width: 100%;
    height: 1px;
    margin-bottom: 2rem;
    background-color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 50;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1000px;
}

.modal-content,
#caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0.1)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 0px;
    right: 35px;
    color: rgba(138, 35, 81, 1);
    font-size: 80px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    #projects-section article p {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #projects-section h2 {
        width: 90vw;
    }

    #projects-section article {
        gap: 2rem;
        width: 85vw;
    }

    #projects-section article div {
        display: flex;
        flex-direction: column;
    }

    #projects-section article img {
        aspect-ratio: 1 / 0.5;
        /* width: 75%; */
    }

    #projects-section article img,
    #projects-section article h3,
    #projects-section article p {
        width: 100%;
    }

    #projects-section article p {
        font-size: 1.35rem;
    }
}

@media screen and (max-width: 400px) {
    #projects-section {
        padding: 5rem 0;
        gap: 3.5rem;
    }

    #projects-section article {
        gap: 1.5rem;
    }

    #projects-section h2 {
        font-size: 1.6rem;
    }

    #projects-section article h3 {
        font-size: 1.3rem;
    }

    #projects-section article p {
        font-size: 14px;
    }

}

/* CONTACT */

/* CONTACT: LIGHTS */

.light-orange_five {
    background-image: radial-gradient(closest-side, rgba(138, 35, 135, 0.4), transparent);
    bottom: -25rem;
    right: -20rem;
    z-index: -100;
}

/* CONTACT: TEXT */

#contact-section {
    font-family: "Krona One", sans-serif;
    overflow-x: clip;
    overflow-y: clip;
    position: relative;
    padding: 8rem 0;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#contact-section h2 {
    font-size: 3.5rem;
    width: 65vw;
}

.contact_one {
    text-align: left;
}

.contact_two {
    text-align: center;
}

.contact_three {
    text-align: right;
}

#contact-section ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contact-section li {
    list-style-type: none;
    word-wrap: break-word;
    white-space: normal;
    z-index: 100;
}

#contact-section p,
#contact-section li {
    width: 50vw;
    font-size: 1.5rem;
    text-align: center;
}

#contact-section a {
    color: white;
    text-decoration: none;
}

#contact-section a:hover {
    border: 2px solid white;
    padding: 0.5rem;
}

@media screen and (max-width: 800px) {
    #contact-section {
        gap: 2rem;
    }

}

@media screen and (max-width: 600px) {
    .light-orange_five {
        top: 15rem;
        right: -12rem;
    }

    #contact-section {
        padding: 4rem 0;
    }

    #contact-section h2 {
        font-size: max(7vw, 24px);
    }

    #contact-section li,
    #contact-section p {
        font-size: max(4vw, 14px);
    }
}

/* RECIPE PAGE */

.project-header {
    overflow-x: clip;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem;
    gap: 3rem;
    background-color: #e5e4db;
}

.project-header h1 {
    font-family: "Krona One", sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: black;
}

.tech-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.tech-tags div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tech-tags svg {
    width: 5rem;
    margin: 0 auto;
}

.tag {
    color: #f27121;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.project-meta {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
}

.featured-images {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 1000px;
}

.featured-images img {
    object-position: center top;
    border-radius: 1rem;
    box-shadow: 1px 1px 6px rgba(179, 174, 166, 0.7);
    width: 45%;
    min-width: 250px;
    transition: all 0.5s ease;
    object-fit: cover;
    aspect-ratio: 1 / 0.70;

}

.featured-images img:hover {
    box-shadow: 2px 2px 28px #8a23878e;
}

.problem-statement,
.role-section,
.technical-section,
.features-section,
.results-section,
.future-section,
.links-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem;
    gap: 2rem;
    position: relative;
}

.problem-statement {
    background: linear-gradient(to right, #f5f3ed 75%, #f5f3ed00 95%);
    width: min(950px,90vw);
    margin: 3rem auto;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border-left: 10px solid #f27121;
    padding: 3rem 6rem;
    gap: 1rem;
}

.problem-statement div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.problem-statement h2 {
    color: #f27121;
    font-size: 2.5rem;
}

.problem-statement h3 {
    color: #f27121;
    font-size: 2rem;
    align-self: flex-start;
}

.problem-statement ul {
    list-style: none;
    padding: 0;
}

.problem-statement li {
    padding: 0.5rem 0 0.5rem 2rem;
    position: relative;
}

.problem-statement li::before {
    content: '▸';
    position: absolute;
    left: 0;
    color: #f27121;
    font-weight: bold;
}

.technical-section {
    background: #f5f3ed;
    width: min(950px,90vw);
    margin: 6rem auto;
    border-radius: 16px;
    padding: 3rem 6rem;
}

.technical-section h2 {
    color: #8a2387;
    font-size: 2.5rem;
    position: relative;
    padding-bottom: 1rem;
}

.technical-section h3 {
    color: #8a2387;
    font-size: 2rem;
    margin-top: 2.5rem;
    align-self: flex-start;
    width: 70vw;
    max-width: 800px;
    padding-left: 1rem;
    border-left: 4px solid #8a2387;
}

.technical-section p {
    width: 70vw;
    max-width: 800px;
}

.results-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f5f3ed;
    width: min(950px,90vw);
    height: 24rem;
    margin: 6rem auto;
    border-radius: 16px;
    border-top-right-radius: 0px;
    padding: 3rem 6rem;
    gap: 0;
}

.results-section h2 {
    color: #f27121;
    font-size: 2.5rem;
    position: relative;
}

.results-section .results-tabs {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    gap: 0.75rem;
    top: -3.75rem;
    right: 0;
}

.results-section button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: #f5f3ed;
    padding: 1rem 1.5rem;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border: none;
}

.results-section .inactive-button {
    background: #efeee9;
    color: black;
}

.results-section .active-button {
    background-color: #f5f3ed;
    color: #f27121;
    text-decoration: underline;
    margin-top: -0.5rem;
}

.results-section p,
.results-section ul {
    width: 70vw;
    max-width: 800px;
}

.results-section ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

.results-section li {
    padding: 0.5rem 0 0.5rem 2rem;
    position: relative;
}

.results-section li::before {
    content: '✓';
    position: absolute;
    left: 0;
    color: #f27121;
    font-weight: bold;
}

.feature {
    width: 70vw;
    max-width: 800px;
    padding: 2rem;
    background: #8a238715;
    border: 2px solid #8a2387;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
}

.feature div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.technical-section .feature svg {
    width: 2.5rem;
}

.feature::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, #8a2387, transparent);
}

.feature:hover {
    background: #8a23872c;
    transform: translateY(-4px);
    box-shadow: 0 8px 20px #8a238756;
    transition: all 0.5s ease;
}

.feature h3 {
    width: 90%;
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
    color: #8a2387;
    padding-left: 0;
    border-left: none;
    margin-top: 0;
    align-self: center;
}

.feature p {
    width: 100%;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
}

.link-buttons {
    margin: 0rem auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.link-buttons a {
    text-align: center;
    width: 10rem;
    background: #8a2387e1;
    color: white;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    box-shadow: 4px 4px 0 #bd6fbb;
}

.link-buttons a:hover {
    text-decoration: underline;
    transform:scale(1.05);
}

/* RECIPE PAGE: RESPONSIVE */

/* @media screen and (max-width: 1000px) {
    .problem-statement h3,
    .technical-section h3,
    .results-section h3 {
        width: 85vw;
    }

    .problem-statement p,
    .problem-statement ul,
    .technical-section p,
    .results-section p,
    .results-section ul,
    .feature {
        width: 85vw;
    }
} */

@media screen and (max-width: 600px) {
    .problem-statement,
    .technical-section,
    .results-section {
        padding: 4rem 1rem;
    }

    .problem-statement h2,
    .technical-section h2,
    .results-section h2 {
        font-size: 1.8rem;
    }

    .problem-statement h3,
    .technical-section h3,
    .results-section h3 {
        /* width: 90vw; */
        font-size: 1.1rem;
    }

    .problem-statement p,
    .problem-statement ul,
    .technical-section p,
    .results-section p,
    .results-section ul,
    .feature {
        /* width: 90vw; */
        font-size: 0.95rem;
    }

    .feature {
        padding: 1.5rem;
    }

    .feature h3 {
        font-size: 1.1rem;
    }
}

